*.tar
*.csv
*.json
*.pyc
*.out
*.log
*.ipynb
*.sh
!experiments/run_aqua_experiments.sh
!experiments/run_humaneval_experiments.sh
!experiments/run_gsm8k_experiments.sh
!experiments/run_multiarith_experiments.sh
!experiments/run_svamp_experiments.sh
*.ps1
.pyc

.env
.codex
experiments.md
agent5_token.md
test.py

token/
attack/
log/
ps_list/
paper/
HeatMap/
__pycache__/
